.font-bold{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
    color: white;
}

.table{
    padding: 5px 0;
}
.table-container {
    background: #F5F5F5;
    border-radius: 10px;
    
}

.table table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    
}
.table tbody thead{
    background: #F5F5F5;
  

}

.table table thead tr {
    color: #0F1419;
    text-align: left;
    border-bottom: 1px solid #4caf6d3b;
}
.table table tbody tr:not(:last-of-type){
    padding: 7px 0;
    border-bottom: 1px solid #4caf6d3b;
}

.table table th, 
.table table td {
    padding: 12px;
    text-align: center;
}

.table table th {
    font-weight: bold;
    text-transform: uppercase;
}
